
body
  margin-top: 0

#cover
  background-image: url('/img/cover.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: top center
  height: 100vh
  position: relative
  z-index: 5
  width: 100%


