*
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
body
  margin-top: 0

#cover
  background-color: black
  height: 100vh
  position: relative
  z-index: 5
  width: 100%
  .bg-overlay
    position: absolute
    height: 100%
    width: 100%
    background-color: black
    z-index: 5
    opacity: 0.3
  .cb-slideshow
    list-style: none
    padding-left: 0
    position: absolute
    width: 100%
    height: 100%
    top: 0px
    left: 0px
    z-index: 0
    &:after
      position: absolute
      width: 100%
      height: 100%
      top: 0px
      left: 0px
      z-index: 0
      content: ''
    li
      span
        width: 100%
        height: 100%
        position: absolute
        top: 0px
        left: 0px
        color: transparent
        background-size: cover
        background-position: 50% 50%
        background-repeat: none
        opacity: 0
        z-index: 0
        -webkit-backface-visibility: hidden
        -webkit-animation: imageAnimation 42s linear infinite 0s
        -moz-animation: imageAnimation 42s linear infinite 0s
        -o-animation: imageAnimation 42s linear infinite 0s
        -ms-animation: imageAnimation 42s linear infinite 0s
        animation: imageAnimation 42s linear infinite 0s
      div
        z-index: 1000
        position: absolute
        bottom: 30px
        left: 0px
        width: 100%
        text-align: center
        opacity: 0
        color: #fff
        -webkit-animation: titleAnimation 42s linear infinite 0s
        -moz-animation: titleAnimation 42s linear infinite 0s
        -o-animation: titleAnimation 42s linear infinite 0s
        -ms-animation: titleAnimation 42s linear infinite 0s
        animation: titleAnimation 42s linear infinite 0s


      &:nth-child(1) span
        -webkit-animation-delay: 0s
        -moz-animation-delay: 0s
        -o-animation-delay: 0s
        -ms-animation-delay: 0s
        animation-delay: 0s
      &:nth-child(2) span
        -webkit-animation-delay: 6s
        -moz-animation-delay: 6s
        -o-animation-delay: 6s
        -ms-animation-delay: 6s
        animation-delay: 6s
      &:nth-child(3) span
        -webkit-animation-delay: 12s
        -moz-animation-delay: 12s
        -o-animation-delay: 12s
        -ms-animation-delay: 12s
        animation-delay: 12s
      &:nth-child(4) span
        -webkit-animation-delay: 18s
        -moz-animation-delay: 18s
        -o-animation-delay: 18s
        -ms-animation-delay: 18s
        animation-delay: 18s
      &:nth-child(5) span
        -webkit-animation-delay: 24s
        -moz-animation-delay: 24s
        -o-animation-delay: 24s
        -ms-animation-delay: 24s
        animation-delay: 24s
      &:nth-child(6) span
        -webkit-animation-delay: 30s
        -moz-animation-delay: 30s
        -o-animation-delay: 30s
        -ms-animation-delay: 30s
        animation-delay: 30s
      &:nth-child(7) span
        -webkit-animation-delay: 36s
        -moz-animation-delay: 36s
        -o-animation-delay: 36s
        -ms-animation-delay: 36s
        animation-delay: 36s

      //  on div
      &:nth-child(1) span
        -webkit-animation-delay: 0s
        -moz-animation-delay: 0s
        -o-animation-delay: 0s
        -ms-animation-delay: 0s
        animation-delay: 0s
      &:nth-child(2) div
        -webkit-animation-delay: 6s
        -moz-animation-delay: 6s
        -o-animation-delay: 6s
        -ms-animation-delay: 6s
        animation-delay: 6s
      &:nth-child(3) div
        -webkit-animation-delay: 12s
        -moz-animation-delay: 12s
        -o-animation-delay: 12s
        -ms-animation-delay: 12s
        animation-delay: 12s
      &:nth-child(4) div
        -webkit-animation-delay: 18s
        -moz-animation-delay: 18s
        -o-animation-delay: 18s
        -ms-animation-delay: 18s
        animation-delay: 18s
      &:nth-child(5) div
        -webkit-animation-delay: 24s
        -moz-animation-delay: 24s
        -o-animation-delay: 24s
        -ms-animation-delay: 24s
        animation-delay: 24s
      &:nth-child(6) div
        -webkit-animation-delay: 30s
        -moz-animation-delay: 30s
        -o-animation-delay: 30s
        -ms-animation-delay: 30s
        animation-delay: 30s
      &:nth-child(7) div
        -webkit-animation-delay: 36s
        -moz-animation-delay: 36s
        -o-animation-delay: 36s
        -ms-animation-delay: 36s
        animation-delay: 36s

/* Animation for the slideshow images
@-webkit-keyframes imageAnimation
  0%
    opacity: 0
    -webkit-animation-timing-function: ease-in

  8%
    opacity: 1
    -webkit-animation-timing-function: ease-out

  17%
    opacity: 1

  25%
    opacity: 0

  100%
    opacity: 0


@-moz-keyframes imageAnimation
  0%
    opacity: 0
    -moz-animation-timing-function: ease-in

  8%
    opacity: 1
    -moz-animation-timing-function: ease-out

  17%
    opacity: 1

  25%
    opacity: 0

  100%
    opacity: 0


@-o-keyframes imageAnimation
  0%
    opacity: 0
    -o-animation-timing-function: ease-in

  8%
    opacity: 1
    -o-animation-timing-function: ease-out

  17%
    opacity: 1

  25%
    opacity: 0

  100%
    opacity: 0


@-ms-keyframes imageAnimation
  0%
    opacity: 0
    -ms-animation-timing-function: ease-in

  8%
    opacity: 1
    -ms-animation-timing-function: ease-out

  17%
    opacity: 1

  25%
    opacity: 0

  100%
    opacity: 0


@keyframes imageAnimation
  0%
    opacity: 0
    animation-timing-function: ease-in

  8%
    opacity: 1
    animation-timing-function: ease-out

  17%
    opacity: 1

  25%
    opacity: 0

  100%
    opacity: 0


/* Animation for the title
@-webkit-keyframes titleAnimation
  0%
    opacity: 0

  8%
    opacity: 1

  17%
    opacity: 1

  19%
    opacity: 0

  100%
    opacity: 0


@-moz-keyframes titleAnimation
  0%
    opacity: 0

  8%
    opacity: 1

  17%
    opacity: 1

  19%
    opacity: 0

  100%
    opacity: 0


@-o-keyframes titleAnimation
  0%
    opacity: 0

  8%
    opacity: 1

  17%
    opacity: 1

  19%
    opacity: 0

  100%
    opacity: 0


@-ms-keyframes titleAnimation
  0%
    opacity: 0

  8%
    opacity: 1

  17%
    opacity: 1

  19%
    opacity: 0

  100%
    opacity: 0


@keyframes titleAnimation
  0%
    opacity: 0

  8%
    opacity: 1

  17%
    opacity: 1

  19%
    opacity: 0

  100%
    opacity: 0


/* Show at least something when animations not supported

.no-cssanimations .cb-slideshow li span
  opacity: 1

@media screen and (max-width: 1140px)
  .cb-slideshow li div h3
    font-size: 140px

@media screen and (max-width: 600px)
  .cb-slideshow li div h3
    font-size: 80px

#about
  background-color: $dirty-white
  position: relative
  padding-top: 110px
  padding-bottom: 110px
  .left-section
    .content-container
      .section-header
        .header
          display: block
          font-size: 26px
          font-weight: 400
          font-style: italic
          text-transform: uppercase
          line-height: 50px
      .section-content
        padding-top: 40px
        padding-bottom: 50px
        .content
          font-size: 18px
          margin-bottom: 0
          line-height: 30px
          font-weight: 200
          max-width: 90%
      .section-link
        .link
          display: inline-block
          color: $gray
          font-size: 16px
          font-weight: 100
          text-transform: uppercase
          letter-spacing: 10px
          border: 2px solid $gray
          padding: 20px 60px
          text-decoration: none
          transition: all 300ms ease-in-out
          &:hover
            color: $white
            border-color: $white
            background-color: $gray

#team
  position: relative
  .section-header
    .header
      margin: 30px 0 0px
      letter-spacing: 10px
  .content-container
    padding-top: 100px
    padding-bottom: 100px
    .caption
      .section-name
        margin-top: 15px
        margin-bottom: 5px
        display: block
        text-align: center
        font-size: 18px
        font-weight: bold
        text-transform: uppercase
      .section-role
        display: block
        text-align: center
        text-transform: uppercase
        font-weight: 100

#featured
  position: relative
  .section-header
    background-color: $dirty-white
    .header
      margin: 0
      padding: 30px 0
      letter-spacing: 10px
  .content-container
    .feature-item
      position: relative
      overflow: hidden
      .popup-vimeo
        position: relative
        text-decoration: none
        border: 0
        outline: none
        display: block
        transition: all 1s ease-in-out
        -moz-transition: all 1s ease-in-out
        -o-transition: all 1s ease-in-out
        -ms-transition: all 1s ease-in-out
        .feature-overlay
          z-index: 5
          opacity: 0.5
          width: 100%
          height: 100%
          position: absolute
          background-color: #000000
          transition: all 1s ease-in-out
          -moz-transition: all 1s ease-in-out
          -o-transition: all 1s ease-in-out
          -ms-transition: all 1s ease-in-out
          &:hover
            opacity: 0.3
        .feature-image
          z-index: 4
          position: relative
          height: 33.33vw
        .caption
          z-index: 6
          transition: all 300ms ease-in-out
          position: absolute
          width: 100%
          top: 50%
          transform: translateY(-50%)
          -webkit-transform: translateY(-50%)
          -moz-transform: translateY(-50%)
          -o-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          .feature-title
            margin: 0
            position: relative
            text-align: center
            transition: all 300ms ease-in-out
            color: #fff
            font-size: 20px
            text-transform: uppercase
            letter-spacing: 10px
          .feature-type
            color: $white
            text-decoration: none
            text-align: center
            text-transform: uppercase
            letter-spacing: 5px
            display: block
            margin-top: 5px
        &:hover
          background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0))
          transform: scale(1.1,1.1)
          -moz-transform: scale(1.1,1.1)
          -o-transform: scale(1.1,1.1)
          -ms-transform: scale(1.1,1.1)
      .content-container
        background-color: #f7f7f7
        padding: 20px 0
        p
          color: #878787
          line-height: 25px
          height: 125px
          overflow: hidden
          display: -webkit-box
          -webkit-line-clamp: 5
          -webkit-box-orient: vertical
          width: 80%
          margin: 0 auto





