<div class="banner-section"></div>
<div class="container">
    <div class="content-container">
        <div class="logo-header">
            <img class="center-block logo" src="/img/brand-logo2.png"/>
        </div>
        <div class="section-content">
            <p class="section-text">To hug is to express a million pleasant things. It is:</p>
            <span class="custom-text" style="margin-bottom: 10px">I LOVE YOU, I CARE, I’M SORRY, </span>
            <span class="custom-text">I’M HERE, I PROMISE</span>
            <p class="section-text">The meanings are countless. We at Hug Big Photogratphy believe that hugging
                especially means to ACCEPT all that you have— your friends, family and even
                your self— with a BIG heart.</p>
            <p class="section-text">In fact, we see this remarkable phenomena over and over:</p>
            <p class="section-text">Like how a bride is in the arms of her soul mate, confident with their promise; they will be together no matter what the future holds;</p>
            <p class="section-text">Like how friends call out “Group hug!” after graduation with a promise that separation won’t sever the bond that time had strengthened;</p>
            <p class="section-text">Like how children embrace their parents and grandparents with such gusto even after fights and misunderstandings, because family is eternal.</p>
            <p class="section-text">We know how precious these hugs are which is why Hug Big Photography dedicates its time and effort to immortalize this simple gesture in a picture.</p>
            <p class="section-text">Be it prenuptials or pre-debut shoots, the huggable brothers Alvin Paul and Alfred Adrian Yao will take you adventuring in surreal scenes for those rare pictures worth framing. They may not look it at first, but this bear-tastic duo has a knack of using laughter and play so you can feel at ease in front of the camera.</p>
            <p class="section-text">This way, the fun and bubbly enthusiasm of the shoot will reveal itself in your stills.
                Being hopeless romantics at heart, we use our signature pink hues to bring out the
                intimacy and tenderness of love in your photos. So be prepared to blush from reliving
                the emotions of your treasured moments we captured in our lenses.
                Consider yourself hugged big by Hug Big.</p>
        </div>
    </div>
</div>