<div class="container">
    <div class="col-md-6 left-section">
        <div class="content-container">
            <div class="section-header">
                <span class="header">I love you, I care, I'm Sorry,</span>
                <span class="header">I'm here, I promise</span>
            </div>
            <div class="section-content">
                <p class="content">The meanings are countless. We at Hug Big Photography believe that hugging especially means to ACCEPT all that you have your friends, family and even your self with a BIG heart.</p>
            </div>
            <div class="section-link">
                <a class="link" href="/pages/about/">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 right-section">
        <div class="section-content">
            <img class="image center-block" src="/img/brand-logo2.png"/>
        </div>
    </div>
</div>
