<div class="container-fluid no-gutter">
    <div class="section-header">
        <h4 class="header text-center">FEATURED </h4>
    </div>
    <div class="content-container">
        {% for item in site.data.test %}
        <div class="col-md-4 no-gutter feature-item">
            <a class="popup-vimeo" href="#">
                <div class="feature-overlay"></div>
                <div class="feature-image"  style="background-image: url('/img/featured/{{ item.image }}.jpg'); background-size: cover; background-position: center center;"></div>
                <div class="caption">
                    <h1 class="feature-title">{{ item.name }}</h1>
                    <span class="feature-type">{{ item.type }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>