<section id="gallery-list">
    <div class="filter-container container-fluid no-gutter">
        <div class="filters-button-group button-group visibile-md hidden-sm hidden-xs">
            {% for filter in site.button-filter %}
            {% assign counter = counter | plus: 1%}
            <button {% if counter == 1 %} class="btn-isotope is-checked"{% else %} class="btn-isotope" {% endif %} data-filter=".{{ filter.filter }}">{{ filter.name }}</button>
            {% endfor %}
            <input type="text" placeholder="search name" class="inputSearch form-control" id="search-name1">
        </div>
    </div>

    <div class="no-gutter filters-button-group button-group category-nav-container hidden-lg hidden-md">
        <div class="category-nav-mobile">
            <a href="#" id="category-button" data-toggle="collapse" data-target="#navbar-category-collapse">Filter Menu <span class="caret"></span></a>
        </div>
        <div class="full-width no-gutter collapse navbar-collapse" id="navbar-category-collapse">
            <ul class="category-nav">
            {% assign counter = 0%}
            {% for filter in site.button-filter %}
            {% assign counter = counter | plus: 1%}
            <li>
                <button {% if counter == 1 %} class="btn-isotope is-checked"{% else %} class="btn-isotope" {% endif %} data-filter=".{{ filter.filter }}">{{ filter.name }}</button>
            </li>
            {% endfor %}
            <li>
                <input type="text" placeholder="search name" class="inputSearch form-control" id="search-name2">
            </li>
        </ul>
        </div>
    </div>

    <div class="container-fluid gallery-list-container">
        <div class="grid">
            {% assign sorted-gallery = site.gallery %}
            {% for gallery-list in sorted-gallery %}
            <div class="col-md-4 no-gutter gallery-image-item {{ gallery-list.type }}">
                <a class="popup-vimeo" href="{{ gallery-list.url }}">
                    <div class="gallery-overlay"></div>
                    <div class="gallery-image"  style="background-image: url('{{ gallery-list.cover-image }}');"></div>
                    <div class="caption">
                        <h1 class="gallery-title">{{ gallery-list.name }}</h1>
                    </div>
                </a>
            </div>

            {% endfor %}
        </div>
        <div id="no-result">
            <h2 id="result-text">Sorry, no result found.</h2>
        </div>
    </div>
</section>